{
  "env": {
    
    "TEST": {
      "presets": [
        ["env", { "targets": { "node": "current" } }],
        "power-assert"
      ],
      "plugins": [
        "istanbul",
        "rewire"
      ]
    },

    "REWIRE": {
      "presets": [
        ["env", { "targets": { "node": "current" } }]
      ],
      "plugins": [
        "rewire"
      ]
    },

    "BUILD": {
      "presets": ["es2015-rollup"],
      "plugins": [
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }

  }
}