{
  "env": {
    "TEST": {
      "presets": ["env", "power-assert"],
      "plugins": ["istanbul", "transform-runtime"]
    },
    "ENV": {
      "presets": ["env"],
      "plugins": ["transform-runtime"]
    },
    "BUILD:CLIENT": {
      "presets": [["env", { "modules": false }]],
      "plugins": ["external-helpers"]
    },
    "BUILD:SERVER": {
      "presets": [["env", { "modules": false, "targets": { "node": "8" } }]]
    }
  }
}