{
  "env": {
    "TEST": {
      "presets": [
        ["env", { "target": { "node": "current" } }],
        "power-assert"
      ],
      "plugins": [
        "istanbul",
        "transform-runtime"
      ]
    },
    "ENV": {
      "presets": ["env"],
      "plugins": ["transform-runtime"]
    },
    "BUILD": {
      "presets": ["es2015-rollup"]
    }
  }
}